<section id="modular-features" class="section {{ page.header.class}}">
<div class="modular-row gallery-container">
    {{ unite_gallery(page.media.images, '{
    "gallery_theme":"tilesgrid",
    "tile_width": 250,
    "tile_height": 250,
    "tile_enable_textpanel": true,
    "tile_textpanel_always_on": true,
    "tile_textpanel_title_text_align": "center",
    "tile_as_link": true,
    "tile_enable_icons": false
    }') }}
</div>
</section>