{% set grid_size = theme_var('grid-size') %}

<section id="column" class="section {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        <div class="columns">
            <div style="margin: auto;">
                <h4>Interested? <a href="/contact">Contact me!</a></h4>
            </div>
        </div>
    </section>
</section>
